@import "tailwindcss";

@import "tailwindcss";

html,
body,
#root {
  @apply min-h-screen w-full;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;

  /* Awesome dark gradient background */
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

/* Animate gradient to make it dynamic */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
